In [ ]:
emp_rec1 = {
        "name":"Mr.Geek",
        "eid":24,
        "location":"delhi"
        }
# Insert Data
rec_id1 = mycol.insert_one(emp_rec1)

mydb = conn.mydatabase
mycol = mydb.sensors_data